@mixin boxColorTheme($color) {
  .benefits__image::before, .benefits__text::after {
    background-color: $color;
  }
  .single__image {
    background-color: $color;
  }
}

.benefits {
  background: $color-light-grey 0 0 no-repeat padding-box;
  display: flex;
  justify-content: center;
  padding: 100px 251px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
  }

  &__box-one-column {
    align-items: flex-end;
    background: $color-white 0 0 no-repeat padding-box;
    border: 1px solid $color-light-grayish-blue;
    border-radius: 5px;
    display: flex;
    flex-grow: 2;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
  }

  &__text {
    box-sizing: content-box;
    margin: 90px 30px;
    width: 416px;

    p {
      line-height: 1.375rem;
      margin-top: 30px;
    }

    &::after {
      background-color: $color-redish;
      content: "";
      display: block;
      height: 0.25em;
      margin-top: 50px;
      width: 75%;
    }
  }

  &__image {
    position: relative;

    img {
      position: relative;
      z-index: 2;
    }
  }
}


.trumpet .benefits__image {
  position: absolute;
}

.iphone {
  @include boxColorTheme($color-primary);
  flex-direction: row-reverse;

  .benefits__text {
    margin: 70px 20px 70px 0;
  }

  .benefits__image {
    bottom: 20px;
    left: 50px;

    img {
      height: auto;
      width: 426px;
    }

    &::before {
      border-radius: 50%;
      content: "";
      display: block;
      height: 320px;
      left: -20px;
      position: absolute;
      top: 0;
      width: 320px;
    }
  }
}

.macbook {
  @include boxColorTheme($color-redish);

  .benefits__image {
    margin-bottom: 38px;
    margin-right: 117px;

    img {
      height: auto;
      position: relative;
      width: 386px;
      z-index: 2;
    }

    &::before {
      border-radius: 40px;
      content: "";
      display: block;
      height: 180px;
      position: absolute;
      right: 0;
      top: -40px;
      transform: rotate(45deg);
      width: 180px;
    }
  }
}


.benefits__box-two-column {
  display: flex;
  gap: 3.75em;
  @include boxColorTheme($color-green);

  & > div {
    margin-bottom: 0;
  }
}

.benefits__box-one-column_text {
  max-width: 620px;

  .benefits__text {
    margin: 70px 35px;
    max-width: none;
  }
}


.single__image {
  align-items: center;
  border: none;
  display: flex;
  flex-grow: 1;
  justify-content: center;

  img {
    height: auto;
    margin-top: 55px;
    width: 295px;
  }
}