.opening {
  @include flexBox(
          $direction: column,
          $wrap: nowrap,
  );
  margin-top: 130px;

  &__wrapper {
    @include flexBox(
            $direction: column,
            $align: center
    );
  }

  &__title {
    color: $color-black;
    font-size: 1em;
    line-height: 1.375em; // 22px
    margin-bottom: 2.375em; // 38px
  }

  img {
    height: 100%;
    width: 100%;
  }
}