.pricing {
  background: $color-white 0 0 no-repeat padding-box;
  padding: 100px 0 155px 0;

  &__wrapper {
    @include flexBox(
            $gap: 2.5rem,
            $direction: column,
            $wrap: nowrap,
            $align: center
    );
  }
}

.pricing-list {
  @include flexBox(
          $gap: 3.75rem,
          $align: center,
  );
}

.pricing-box {
  @include flexBox(
          $direction: column,
          $align: center,
          $justify: around
  );
  background: $color-white 0 0 no-repeat padding-box;
  border-radius: 18px;
  height: 461px;
  position: relative;
  width: 370px;

  &__header {
    @include flexBox(
            $direction: column,
            $gap: 1.25rem,
    );
    margin-bottom: 60px;
    margin-top: 30px;
    text-align: center;

    .limited.pricing-box__price::after {
      color: $color-very-dark-blue;
      content: "Limited offer";
      font-family: $font-raleway;
      font-size: 12px;
      font-weight: $font-weight-bolder;
      margin-top: 20px;
    }
  }

  &__shadow {
    box-shadow: 5px 10px 27px $color-primary-shadow;
  }

  ol {
    @include flexBox($direction: column, $align: center);
    margin-bottom: 25px;
  }

  .price-item {
    color: $color-black;
    font-size: 14px;
    line-height: 41px;

    &::before {
      content: "";
      display: inline-block;
      height: 11px;
      margin-right: 10px;
      width: 11px;
    }
  }

  .included {
    @include itemIcon("/assets/icons/icon-checkmark-2.svg");
  }

  .excluded {
    @include itemIcon("/assets/icons/icon-close.svg");
  }

  a {
    bottom: -22px;
    position: absolute;
  }

  &__price {
    @include flexBox($direction: column, $align: center);
    font-size: 46px;
    font-weight: $font-weight-light;
  }

  &--red {
    @include pricingBoxTheme($color-redish);
  }

  &--blue {
    @include pricingBoxTheme($color-primary);
    height: 500px;
    width: 400px;
  }

  &--green {
    @include pricingBoxTheme($color-green);
  }
}