@mixin itemIcon($icon) {
  &::before {
    background-image: url($icon);
  }
}

@mixin pricingBoxTheme($color) {
  border: 1px solid $color;
  .pricing-box__price {
    color: $color;
  }
}

.pricing {
  background: $color-white 0 0 no-repeat padding-box;
  padding: 100px 0 155px 0;

  &__wrapper {
    @include flexBox(
            $gap: 2.5rem,
            $direction: column,
            $wrap: nowrap
    );
  }
}

.pricing-list {
  align-items: center;
  display: flex;
  gap: 60px;
}

.pricing-box {
  align-items: center;
  background: $color-white 0 0 no-repeat padding-box;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  height: 461px;
  justify-content: space-around;
  position: relative;
  width: 370px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
    margin-top: 30px;
    text-align: center;

    .limited.pricing-box__price::after {
      color: $color-very-dark-blue;
      content: "Limited offer";
      font-family: $font-raleway;
      font-size: 12px;
      font-weight: $font-weight-bolder;
      margin-top: 20px;
    }
  }

  &__shadow {
    box-shadow: 5px 10px 27px $color-primary-shadow;
  }

  ol {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }

  .price-item {
    color: $color-black;
    font-size: 14px;
    line-height: 41px;

    &::before {
      content: "";
      display: inline-block;
      height: 11px;
      margin-right: 10px;
      width: 11px;
    }
  }

  .included {
    @include itemIcon("/assets/icons/icon-checkmark-2.svg");
  }

  .excluded {
    @include itemIcon("/assets/icons/icon-close.svg");
  }

  a {
    bottom: -22px;
    position: absolute;
  }

  &__price {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 46px;
    font-weight: $font-weight-light;
  }

  &--red {
    @include pricingBoxTheme($color-redish);
  }

  &--blue {
    @include pricingBoxTheme($color-primary);
    height: 500px;
    width: 400px;
  }

  &--green {
    @include pricingBoxTheme($color-green);
  }
}