@use 'sass:list';

.statistic {
  @include flexBox($justify: center);
  @include section($pt: 100px);

  &__wrapper {
    @include flexBox($direction: column, $wrap: nowrap,);
    padding: 0 260px;
    text-align: center;
  }

  &__list {
    @include flexBox($justify: between, $wrap: nowrap,);
    padding-bottom: 120px;
    padding-top: 100px;
    width: 100%;
  }

  &__item {
    @include flexBox($direction: column, $wrap: nowrap, $align: center);

    @for $i from 1 through length($colorsPalette) {
      &:nth-child(#{$i}) &__circle {
        background-color: nth($colorsPalette, $i);
      }
    }

    &__number {
      @include font($family: raleway, $size: 20px, $weight: bolder, $spacing: 0.3725em, $lineHeight: 24px, $align: center);
      padding-bottom: 19px;
      padding-top: 14px;
    }

    &__description {
      @include font($family: raleway, $color: grey, $size: 1em, $lineHeight: 1.25em);
      width: 7.5em;
    }

    &__circle {
      $size: 63px;
      border-radius: 50%;
      height: $size;
      position: relative;
      width: $size;
    }

    &:nth-child(1) &__image {
      left: 50%;
      top: 5px;
    }

    &:nth-child(2) &__image {
      left: 35%;
      top: 15px;
    }

    &:nth-child(3) &__image {
      left: 50%;
      top: 10px;
    }

    &__image {
      position: absolute;
    }
  }
}





