@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700;800&display=swap');

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-secondary-shadow: #00000029;
    --color-redish: #fb3b64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-dark-grayish-blue: #95989A;
    --color-very-dark-gray: #707070;
    --color-very-dark-blue: #13253B;
    --color-light-grey: #F7F7F7;
    --color-light-grayish-blue: #E8E9ED;
    --color-white: #FFFFFF;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-open-sans: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-white);
    font-family: var(--font-open-sans);
    font-weight: var(--font-weight-400);
}

h1 {
    font-size: 49px;
    line-height: 57px;
    font-family: var(--font-raleway);
    color: var(--color-black);
    padding-bottom: 20px;
}

h2 {
    font-size: 36px;
    line-height: 42px;
    font-family: var(--font-raleway);
    color: var(--color-black);
}

h3 {
    font-family: var(--font-raleway);
    font-weight: var(--font-weight-800);
    font-size: 20px;
    color: var(--color-very-dark-blue);

}

p {
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black);
}

.container {
    max-width: 1352px;
    width: 100%;
    margin: 0 auto;
}

/* Header */
header {
    height: 70px;
    background: var(--color-white) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px var(--color-secondary-shadow);
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-weight: var(--font-weight-300);
    font-size: 32px;
    line-height: 37px;
    font-family: var(--font-raleway);
    color: var(--color-primary);
}

.header__navigation ol {
    display: flex;
    list-style: none;
    gap: 80px;
}

.header__navigation__nav-item {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: var(--font-weight-700);
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.205em;
    color: var(--color-grey);
    border-bottom: 0.25em solid transparent;
    padding: 25px 12px;
}

.header__navigation__nav-item:hover {
    color: var(--color-black);
    border-bottom: 0.25em solid var(--color-primary);
}

/* END Header */

/* Opening section */
.opening {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
}

.opening__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening__title {
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black);
    margin-bottom: 38px;
}

.opening img {
    height: 100%;
    width: 100%;
}

/* END Opening section */

/* Statistic section */
.statistic {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.statistic__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    padding: 0 260px;
}

.statistic__list {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 120px;
}

.item__number {
    text-align: center;
    font-weight: var(--font-weight-800);
    font-size: 20px;
    line-height: 24px;
    font-family: var(--font-raleway);
    letter-spacing: 0.3725em; /* 5.96px */
    color: var(--color-black);
    padding-bottom: 19px;
    padding-top: 14px;
}

.item__description {
    font-size: 17px;
    line-height: 20px;
    font-family: var(--font-raleway);
    color: var(--color-grey);
}

.item__circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
}

.statistic__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.statistic__item:nth-child(1) .item__circle {
    background-color: var(--color-redish);
}

.statistic__item:nth-child(1) .item__image {
    top: 5px;
    left: 50%;
}

.statistic__item:nth-child(2) .item__circle {
    background-color: var(--color-primary);
}

.statistic__item:nth-child(2) .item__image {
    top: 15px;
    left: 35%;
}

.statistic__item:nth-child(3) .item__circle {
    background-color: var(--color-green);
}

.statistic__item:nth-child(3) .item__image {
    top: 10px;
    left: 50%;
}

.item__image {
    position: absolute;
}

/* END Statistic section */

/* Benefit section */
.benefits {
    background: var(--color-light-grey) 0 0 no-repeat padding-box;
    padding: 100px 251px;
}

.benefits__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.benefits__box-1col {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: nowrap;
    background: var(--color-white) 0 0 no-repeat padding-box;
    border-radius: 5px;
    border: 1px solid var(--color-light-grayish-blue);
    gap: 170px;
}

.benefits__text {
    box-sizing: content-box;
    flex-grow: 2;
    margin: 90px 30px;
}

.benefits__text p {
    margin-top: 30px;
    line-height: 1.375rem;
}

.benefits__text::after {
    content: "";
    width: 75%;
    height: 0.25em;
    background-color: var(--box-color);
    display: block;
    margin-top: 50px;
}

.benefits__image {
    position: relative;
    flex-grow: 1;
}

.benefits__image img {
    position: relative;
    z-index: 2;
}

.macbook .benefits__image {
    margin-right: 117px;
    margin-bottom: 38px;
}

.trumpet .benefits__image {
    position: absolute;
}

.macbook .benefits__image::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--box-color);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    transform: rotate(45deg);
}

.macbook .benefits__image img {
    width: 386px;
    height: auto;
    position: relative;
    z-index: 2;
}

.iphone .benefits__image::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--box-color);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top: 0;
}

.iphone .benefits__image img {
    width: 426px;
    height: auto;
}

.iphone .benefits__text {
    margin: 70px 0;
}

.iphone {
    --box-color: var(--color-primary);
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;
}

.macbook {
    --box-color: var(--color-redish);
}


.benefits__box-2col {
    display: flex;
    gap: 3.75em;
    --box-color: var(--color-green);
}

.benefits__box-1col_text {
    max-width: 620px;
}

.benefits__box-1col_text .benefits__text {
    max-width: none;
    margin: 70px 35px;
}

.benefits__box-1col_single--image {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--box-color);
    border: none;
}

.benefits__box-1col_single--image img {
    width: 295px;
    height: auto;
}

/* END Benefit section */

/* Pricing */
.pricing {
    padding: 100px 0 155px 0;
    background: var(--color-white) 0 0 no-repeat padding-box;
}

.pricing__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 40px;
}

.pricing-list__wrapper {
    display: flex;
    align-items: center;
    gap: 60px;
}

.pricing-box {
    background: var(--color-white) 0 0 no-repeat padding-box;
    border: 1px solid var(--pricing-box-color);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 370px;
    height: 461px;
    position: relative;
}

.pricing-box__header {
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pricing-box__shadow {
    box-shadow: 5px 10px 27px var(--color-primary-shadow);
}

.pricing-box ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.pricing-box__price--item {
    font-size: 14px;
    line-height: 41px;
    color: var(--color-black);
}

.pricing-box__price--item::before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 10px;
    background-image: var(--item-icon);
}

.included {
    --item-icon: url('../assets/icons/icon-checkmark-2.svg');
}

.excluded {
    --item-icon: url('../assets/icons/icon-close.svg');
}

.pricing-box__price {
    font-weight: var(--font-weight-300);
    font-size: 46px;
    color: var(--pricing-box-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.limited.pricing-box__price::after {
    content: "Limited offer";
    font-weight: var(--font-weight-800);
    font-size: 12px;
    font-family: var(--font-raleway);
    color: var(--color-very-dark-blue);
    margin-top: 20px;
}

.pricing-box a {
    position: absolute;
    bottom: -22px;
}

.pricing-box__red {
    --pricing-box-color: var(--color-redish);
}

.pricing-box__blue {
    --pricing-box-color: var(--color-primary);
    width: 400px;
    height: 500px
}

.pricing-box__green {
    --pricing-box-color: var(--color-green);
}

/* END Pricing section */

/* Contact */
.contact {
    padding-bottom: 60px;
}

.contact__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.contact__text {
    display: flex;
    flex-direction: column;
}

.contact__text--title {
    font-family: var(--font-raleway);
    font-size: 49px;
    line-height: 57px;
    color: var(--color-black);
    margin-bottom: 22px;
}

.contact__text--note {
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black);
    margin-bottom: 40px;
}

.contact__text--contact-info {
    display: flex;
    gap: 20px;
}

.contact__icon {
    display: flex;
    align-items: center;
}

.contact__icon::before {
    content: "";
    display: inline-block;
    background-image: var(--icon);
    width: 27px;
    height: 27px;
    margin-right: 10px;
}

.email {
    --icon: url('../assets/icons/icon-email.svg');
}

.phone {
    --icon: url('../assets/icons/icon-phone.svg');
}

.contact__form {
    width: 440px;
}

.contact__form__input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.contact__form__label {
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    font-weight: var(--font-weight-700);
    letter-spacing: 0.205em; /* 3.28px */
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 12px;
    line-height: 17px;
    color: var(--color-very-dark-gray);
}

.checkbox span {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-basis: 24px;
    border: 1px solid var(--color-dark-grayish-blue);
    border-radius: 0.25em;
    display: inline-block;
    padding: 0;
}

input[type="checkbox"] {
    display: none;
}

.checkbox input[type="checkbox"] {
    background: var(--color-white) 0 0 no-repeat padding-box;
}

.checkbox input[type="checkbox"]:checked + span {
    background-image: url('../assets/icons/icon-checkmark.svg');
    background-size: 12px auto;
    background-position: center;
    background-repeat: no-repeat;
}

/* END Contact section */

/* Footer */

footer {
    background: var(--color-light-grey) 0 0 no-repeat padding-box;
    height: 89px;
    box-shadow: 0 -5px 40px var(--color-secondary-shadow);
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 17px 0;
}

.footer_wrapper-logo {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer_wrapper-logo p {
    font-size: 11px;
    line-height: 15px;
    color: var(--color-grey);
}

.footer__logo {
    font-weight: var(--font-weight-300);
    font-size: 26px;
    line-height: 30px;
    font-family: var(--font-raleway);
    color: var(--color-primary);
}

.footer__social ol {
    display: flex;
    gap: 20px;
}

/* END Footer */

/* Buttons */
.btn {
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
    color: var(--color-white);
    font-weight: var(--font-weight-700);
    background: var(--btn-bg) 0 0 no-repeat padding-box;
}

.btn-shadow {
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

.btn-blue {
    --btn-bg: var(--color-primary);
}

.btn-red {
    --btn-bg: var(--color-redish);
}

.btn-green {
    --btn-bg: var(--color-green);
}

.btn-large {
    font-size: 16px;
    padding: 22px 157px;
    border-radius: 40px;
}

.btn-medium {
    padding: 20px 100px;
    border-radius: 35px;
    font-size: 13px;
    line-height: 18px;
}

.btn-x-small {
    font-size: 13px;
    padding: 16px 65px;
    border-radius: 23px;
}

.btn-small {
    font-size: 13px;
    padding: 16px 57px;
    border-radius: 23px;
}

.btn__group {
    display: flex;
    justify-content: flex-end;
}

/* END Buttons */

/* Inputs */
input {
    border: none;
}

input[type="text"] {
    height: 40px;
    padding: 5px;
    border-bottom: 1px solid var(--color-dark-grayish-blue);
    color: var(--color-very-dark-gray);
}

.contact__form__label--name {
    margin-bottom: 40px;
}

.contact__form__label--email {
    margin-bottom: 30px;
}

/* END Inputs */