@use 'sass:map';

@mixin contactIcon($icon) {
  &::before {
    background-image: url($icon);
  }
}

@mixin itemIcon($icon) {
  &::before {
    background-image: url($icon);
  }
}

@mixin btnBg($color) {
  background: map.get($colors, $color) 0 0 no-repeat padding-box;
}

@mixin buttonProps($radius, $fontSize, $paddingX, $paddingY, $lineHeight: null) {
  border-radius: $radius;
  font-size: $fontSize;
  padding: $paddingX $paddingY;
  @if $lineHeight != null {
    line-height: $lineHeight;
  }
}

@mixin flexBox(
  $gap: null,
  $direction: map.get($flexDirection, row),
  $wrap: map.get($flexWrap, wrap),
  $align: null,
  $justify: map.get($justifyContent, start),
  $autoMargin: false,
  $grow: null,
) {
  display: flex;
  @if $autoMargin {
    margin: 0 auto;
  }
  @if $gap != null {
    gap: $gap;
  }
  @if $direction != row {
    flex-direction: map.get($flexDirection, $direction);
  } @else {
    flex-direction: map.get($flexDirection, row);
  }
  flex-wrap: $wrap;
  @if $align != null {
    align-items: map.get($alignItems, $align);
  }
  @if $justify != start {
    justify-content: map.get($justifyContent, $justify);
  } @else {
    justify-content: map.get($justifyContent, start);
  }
  @if $grow != null {
    flex-grow: $grow;
  }
}

@mixin font(
  $family: map.get($fonts, open-sans),
  $color: map.get($colors, black),
  $size: null,
  $weight: map.get($fontWeights, base),
  $lineHeight: null,
  $spacing: null,
  $transform: none,
  $align: null
) {
  font-family: map.get($fonts, $family);
  color: map.get($colors, $color);
  @if $size != null {
    font-size: $size;
  }
  font-weight: map.get($fontWeights, $weight);
  @if $lineHeight != null {
    line-height: $lineHeight;
  }
  @if ($spacing != null) {
    letter-spacing: $spacing;
  }
  @if $align != null {
    text-align: $align;
  }
  text-decoration: none;
  text-transform: $transform;
}

@mixin section(
  $color: map.get($colors, white),
  $paddingY: 0,
  $paddingX: 0,
  $pt: 0,
  $pr: 0,
  $pb: 0,
  $pl: 0
) {
  background: map.get($colors, $color) 0 0 no-repeat padding-box;
  @if ($paddingX != 0 and $paddingY != 0) {
    padding: $paddingY $paddingX;
  } @else {
    padding: $pt $pr $pb $pl;
  }
}

@mixin bgImage(
  $size,
  $radius,
  $top: null,
  $right: null,
  $left: null,
  $bottom: null,
  $rotate: null
) {
  border-radius: $radius;
  content: "";
  display: block;
  height: $size;
  @if ($left != null) {
    left: $left;
  }
  @if $bottom != null {
    bottom: $bottom;
  }
  @if $right != null {
    right: $right;
  }
  position: absolute;
  @if $top != null {
    top: $top;
  }
  width: $size;
  @if $rotate != null {
    transform: rotate($rotate+deg);
  }
}