$mobile-max-width: 1000px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 800;

$font-weight-base: $font-weight-normal !default;

$fontWeights: (
        light: $font-weight-light,
        normal: $font-weight-normal,
        bold: $font-weight-bold,
        bolder: $font-weight-bolder,
        base: $font-weight-base
);


$flexDirection: (
        row: row,
        row-reverse: row-reverse,
        column: column,
        column-reverse: column-reverse,
);

$justifyContent: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        evenly: space-evenly,
);

$flexWrap: (
        wrap: wrap,
        nowrap: nowrap
);

$alignItems: (
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch,
);