@use 'sass:map';

html {
  font-size: 16px;
}

body {
  @include font($family: open-sans);
  background-color: map.get($colors, white);
  font-weight: map.get($fontWeights, normal);

  h1 {
    @include font($family: raleway, $size: 3.0625em, $lineHeight: 3.5625rem);
    padding-bottom: 1.25rem;
  }

  h2 {
    @include font($family: raleway, $size: 2.25em, $lineHeight: 2.625rem, $weight: normal);
  }

  h3 {
    @include font(
            $family: raleway,
            $size: 1.25em,
            $weight: bolder,
            $color: very-dark-blue
    );
  }

  p {
    @include font($size: 1em, $lineHeight: 1.375em);
  }

  .container {
    margin: 0 auto;
    width: 84.5rem;
  }

  ol, ul {
    list-style: none;
  }
}