@use 'sass:map';

.footer {
  background: map.get($colors, light-grey) 0 0 no-repeat padding-box;
  box-shadow: 0 -5px 40px map.get($colors, secondary-shadow);
  height: 5.5em;

  &__wrapper {
    @include flexBox($justify: between, $align: center);
    padding: 1.25em 0 1em 0;

    &__logo {
      @include flexBox($gap: 0.4375rem, $direction: column,);

      p {
        @include font($color: grey, $size: 0.75em, $lineHeight: 1.25em);
      }
    }

    &__social {
      ol {
        @include flexBox($gap: 1.25rem);
      }
    }
  }

}