.footer {
  background: $color-light-grey 0 0 no-repeat padding-box;
  box-shadow: 0 -5px 40px $color-secondary-shadow;
  height: 89px;

  &__wrapper {
    @include alignmentWrapper();
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 17px 0;

    &__logo {
      display: flex;
      flex-direction: column;
      gap: 7px;

      p {
        color: $color-grey;
        font-size: 11px;
        line-height: 15px;
      }
    }
  }

  &__social {
    ol {
      display: flex;
      gap: 20px;
    }
  }
}