@use 'sass:map';

.header {
  box-shadow: 0 0.1875em 0.375em map.get($colors, secondary-shadow);
  display: flex;
  height: 4.375em;

  &__wrapper {
    @include flexBox($justify: between, $wrap: nowrap, $align: center);
  }

  &__navigation {
    .header_nav {
      @include flexBox($gap: 5rem);
    }

    @include mobile {
      .header_nav {
        background-color: map.get($colors, white);
        display: none;
        flex-direction: column;
        gap: 14px;
        left: 0;
        padding-bottom: 20px;
        position: absolute;
        top: 95px;
        width: 100%;
      }
      .nav {
        &__btn:checked ~ .header_nav {
          display: flex;
        }

        &__btn:checked ~ .nav__icon {
          span {
            &:nth-child(1) {
              transform: rotate(45deg) translate(2px, 5px);
            }

            &:nth-child(2) {
              opacity: 0;
            }

            &:nth-child(3) {
              transform: rotate(-45deg) translate(2px, -5px);
            }
          }
        }

        &__icon {
          display: none;

          span {
            background-color: map.get($colors, primary);
            display: block;
            height: 2px;
            margin-bottom: 3px;
            width: 1.25rem;

            &:last-child {
              margin-bottom: 0;
            }
          }

          @include mobile {
            display: block;
          }
        }
      }
    }

    &__nav-item {
      @include font(
              $color: grey,
              $size: 0.75em,
              $weight: bold,
              $spacing: 0.273333em,
              $lineHeight: 1.25em,
              $transform: uppercase
      );
      border-bottom: 0.25rem solid transparent;
      padding: 1.5625rem 1rem;

      @include mobile {
        padding: 0 1.5rem;
      }

      &:hover {
        border-bottom: 0.25em solid map.get($colors, primary);
        color: map.get($colors, black);
        @include mobile {
          border-bottom: none;
        }
      }
    }
  }
}