@use 'sass:map';

.btn {
  @include font($color: white, $weight: bold);
  border: none;
  cursor: pointer;

  &--blue {
    @include btnBg(primary);
  }

  &--red {
    @include btnBg(redish);
  }

  &--green {
    @include btnBg(green);
  }

  &--shadow {
    box-shadow: 0.3125rem 0.625rem 0.875rem map.get($colors, primary-shadow);
  }

  &--large {
    @include buttonProps(2.5rem, 1rem, 1.375rem, 9.8125rem);
    @include mobile {
      @include buttonProps(40px, 16px, 22px, 92px, 22px);
    }
  }

  &--medium {
    @include buttonProps(2.1875rem, 0.8125rem, 1.25rem, 6.25rem, 1.125rem);
  }

  &--x-small {
    @include buttonProps(1.4375rem, 0.8125rem, 1rem, 4.0625rem);
  }

  &--small {
    @include buttonProps(1.4375rem, 0.8125rem, 1rem, 3.5625rem);
  }
}