@mixin btnBg($color) {
  background: $color 0 0 no-repeat padding-box;
}

@mixin buttonProps($radius, $fontSize, $paddingX, $paddingY, $lineHeight: null) {
  border-radius: $radius;
  font-size: $fontSize;
  padding: $paddingX $paddingY;
  @if $lineHeight != null {
    line-height: $lineHeight;
  }
}

.btn {
  border: none;
  color: $color-white;
  cursor: pointer;
  font-weight: $font-weight-bold;
  text-align: center;
  text-decoration: none;

  &--blue {
    @include btnBg($color-primary);
  }

  &--red {
    @include btnBg($color-redish);
  }

  &--green {
    @include btnBg($color-green);
  }

  &--shadow {
    box-shadow: 0.3125rem 0.625rem 0.875rem $color-primary-shadow;
  }

  &--large {
    @include buttonProps(2.5rem, 1rem, 1.375rem, 9.8125rem);
  }

  &--medium {
    @include buttonProps(2.1875rem, 0.8125rem, 1.25rem, 6.25rem, 1.125rem);
  }

  &--x-small {
    @include buttonProps(1.4375rem, 0.8125rem, 1rem, 4.0625rem);
  }

  &--small {
    @include buttonProps(1.4375rem, 0.8125rem, 1rem, 3.5625rem);
  }
}