$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, 0.16);
$color-redish: #fb3b64;
$color-green: #55DFB4;
$color-black: #000000;
$color-very-dark-gray: #707070;
$color-very-dark-blue: #13253B;
$color-dark-grayish-blue: #95989A;
$color-grey: #A5A5A5;
$color-secondary-shadow: #00000029;
$color-light-grayish-blue: #E8E9ED;
$color-light-grey: #F7F7F7;
$color-white: #FFFFFF;

$colors: (
        primary: $color-primary,
        primary-shadow: $color-primary-shadow,
        redish: $color-redish,
        green: $color-green,
        black: $color-black,
        very-dark-gray: $color-very-dark-gray,
        very-dark-blue: $color-very-dark-blue,
        dark-grayish-blue: $color-dark-grayish-blue,
        grey: $color-grey,
        secondary-shadow: $color-secondary-shadow,
        light-grayish-blue: $color-light-grayish-blue,
        light-grey: $color-light-grey,
        white: $color-white
);

$colorsPalette: $color-redish, $color-primary, $color-green;