@use 'sass:map';

input {
  border: none;
  outline: none;

  &[type="text"] {
    border-bottom: 1px solid map.get($colors, dark-grayish-blue);
    color: map.get($colors, very-dark-gray);
    height: 40px;
    padding: 5px;

    &:focus {
      border-bottom: 1px solid map.get($colors, primary);
    }

  }
}

.contact__form__label--name {
  margin-bottom: 40px;
}

.contact__form__label--email {
  margin-bottom: 30px;
}