input {
  border: none;
  outline: none;

  &[type="text"] {
    border-bottom: 1px solid $color-dark-grayish-blue;
    color: $color-very-dark-gray;
    height: 40px;
    padding: 5px;

    &:focus {
      border-bottom: 1px solid $color-primary;
    }

  }
}



.contact__form__label--name {
  margin-bottom: 40px;
}

.contact__form__label--email {
  margin-bottom: 30px;
}