@use 'sass:map';

%logo {
  color: map.get($blues, "blue-500");
  font-family: $font-raleway;
  font-weight: $font-weight-light;
  &:before {
    content: "BestShop";
  }
}

.header__logo {
  @extend %logo;
  font-size: 2em;
  line-height: 1.125em; // 37px 2.3125em, 1.125em = 36px
}

.footer__logo {
  @extend %logo;
  font-size: 1.625em; // 1.625em 26px
  line-height: 30px; // 1.875em 30px
}
